/*Los encabezados de nivel 1 deben tener un tamaño de
fuente de 32px y color rojo, mientras que los encabezados de nivel 2 deben tener un
tamaño de fuente de 24px y color azul*/

h1 {
    font-size: 32px;
    color: red;
}

h2 {
    font-size: 24px;
    color: blue;
}